.header {
    background-color: var(--black);
    width: 100%;

    position: fixed;
    top: 0;
}

.header div {
    height: 4.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
}